
<table cellpadding="0" cellspacing="0" style="width:1000px;min-width:1000px;max-width:2000px;table-layout:fixed;" border="0">
	<tr>
		<td style="box-sizing:border-box;background-color: brown;"><p style="margin: 0.1px 0.1px 0.1px 0.1px;font-size:8px;font-weight:600;">&nbsp;</p></td>
	</tr>
	<tr>
		<td style="box-sizing:border-box;"><p style="margin: 0.1px 0.1px 0.1px 0.1px;font-size:8px;font-weight:600;">&nbsp;</p></td>
	</tr>
	<tr>
		<td style="box-sizing:border-box;">
			<table width="100%" cellpadding="0" cellspacing="0" style="width:100%;table-layout:fixed;" border="0">
				<tr>
					<td style="box-sizing:border-box;" valign="top">
						<table width="100%" cellpadding="0" cellspacing="0" style="width:100%;table-layout:fixed;" border="0">
							<tr>
								<td style="box-sizing:border-box;"><p style="margin: 0.1px 0.1px 0.1px 0.1px;font-size:18px;font-weight:600;">David Lim</p></td>
							</tr>
							<tr>
								<td style="box-sizing:border-box;"><p style="margin: 0.1px 0.1px 0.1px 0.1px;font-size:12px;">Software Engineer</p></td>
							</tr>
							<tr height="30">
								<td style="box-sizing:border-box;"><p style="margin: 0.1px 0.1px 0.1px 0.1px;font-size:2px;font-weight:900;">&nbsp;</p></td>
							</tr>
							<tr>
								<td style="box-sizing:border-box;"><p style="margin: 0.1px 0.1px 0.1px 0.1px;font-size:14px;font-weight:600;">TNO Systems Pte Ltd</p></td>
							</tr>
							<tr>
								<td style="box-sizing:border-box;"><p style="margin: 0.1px 0.1px 0.1px 0.1px;font-size:2px;font-weight:900;">&nbsp;</p></td>
							</tr>
						</table>
						<table cellpadding="0" cellspacing="0" style="width:100%;table-layout:fixed;" border="0">
							<tr>
								<td width="22" style="box-sizing:border-box;"><p style="margin: 0.1px 0.1px 0.1px 0.1px;font-size:12px;font-weight:900;">T</p></td>
								<td width="auto" style="box-sizing:border-box;"><p style="margin: 0.1px 0.1px 0.1px 0.1px;font-size:11px;">+65 6749 8823</p</td>
							</tr>
							<tr>
								<td style="box-sizing:border-box;"><p style="margin: 0.1px 0.1px 0.1px 0.1px;font-size:12px;font-weight:900;">P</p></td>
								<td style="box-sizing:border-box;"><p style="margin: 0.1px 0.1px 0.1px 0.1px;font-size:11px;">+65 6749 8888</p></td>
							</tr>
							<tr>
								<td style="box-sizing:border-box;"><p style="margin: 0.1px 0.1px 0.1px 0.1px;font-size:12px;font-weight:900;">E</p></td>
								<td style="box-sizing:border-box;"><p style="margin: 0.1px 0.1px 0.1px 0.1px;font-size:11px;">test@globe3.com</p</td>
							</tr>
						</table>
					</td>
					<td width="100" style="box-sizing:border-box;" valign="top">
						<img width="100" height="auto" src="https://www.globe3.com/library/logo-5.png">
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td style="box-sizing:border-box;"><div style="font-size:8px;font-weight:600;">&nbsp;</div></td>
	</tr>
	<tr>
		<td style="box-sizing:border-box;background-color: brown;"><div style="font-size:8px;font-weight:600;">&nbsp;</div></td>
	</tr>
</table>
